<!-- ============================================ -->
<!--                 Navigation                   -->
<!-- ============================================ -->
{% set navPages = collections.all | eleventyNavigation %}

<div id="navigation">
    {# Controls the baground on the header #}
    <div aria-hidden="true" class="background-color-div">
    </div>
    <div class="container">
        
        <a class="logo" aria-label="click to go to home page" href="/">
            <img aria-hidden="true" src="/assets/images/Pine-tree.png" decoding="async" alt="logo" width="221" height="66">
        </a>

        <!--Mobile Nav toggle-->
        <button class="hamburger-menu" aria-expanded="false" aria-controls="navbar-menu">
            <span class="visually-hidden">Menu</span>
            <span aria-hidden="true"></span>
        </button>

        <!--Main Nav-->
        <nav id="navbar-menu" aria-label="main navigation">
            <ul>
                {%- for entry in navPages %}
                    <li>
                        <a 
                        {% if entry.url == page.url %} class="active" {% endif %}
                        href="{{ entry.url }}"
                    >
                            {{ entry.title }}
                        </a>
                    </li>
                {%- endfor %}
            </ul>
        </nav>
    </div>
</div>